<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Redbrick_Addin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Redbrick_Addin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Redbrick_Addin.Properties.Settings.ConnectionString"
            connectionString="Driver={SQL Server};SERVER=AMSTORE-SQL-05;DATABASE=ENGINEERING" />
    </connectionStrings>
    <userSettings>
        <Redbrick_Addin.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="RevLimit" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="EditRevLocation" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="Icon" serializeAs="String">
                <value>\\cad\\Solid Works\\Amstore_Macros\\ICONS\\setup.bmp</value>
            </setting>
            <setting name="CurrentCutlist" serializeAs="String">
                <value>645</value>
            </setting>
            <setting name="UserDept" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="EnableDBWrite" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Testing" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OnlyCurrentCustomers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastLegacyECR" serializeAs="String">
                <value>8999</value>
            </setting>
            <setting name="CurrentRev" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CutlistHeaderLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CutlistHeaderSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RevNoLimit" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="DataDisplayLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="DataDisplaySize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RBConfigLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="RBConfigSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Redbrick_Addin.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Redbrick_Addin.Properties.Settings>
            <setting name="Authors" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>BS</string>
                        <string>CD</string>
                        <string>CW</string>
                        <string>DF</string>
                        <string>DH</string>
                        <string>ED</string>
                        <string>JB</string>
                        <string>KJ</string>
                        <string>KL</string>
                        <string>LF</string>
                        <string>SP</string>
                        <string>TH</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Materials" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>ACRYLIC</string>
                        <string>ALUMINUM</string>
                        <string>BENDER</string>
                        <string>CRS</string>
                        <string>FELT</string>
                        <string>GLASS FL</string>
                        <string>GLASS LAM</string>
                        <string>GLASS TMP</string>
                        <string>HPL</string>
                        <string>HRS</string>
                        <string>MDF</string>
                        <string>MEL</string>
                        <string>OFF ALL</string>
                        <string>PB</string>
                        <string>PC</string>
                        <string>PE</string>
                        <string>PLWD</string>
                        <string>POPLAR</string>
                        <string>POSTFRM MDF</string>
                        <string>PVC</string>
                        <string>SLAB</string>
                        <string>SOLID SURF</string>
                        <string>SST</string>
                        <string>STYRENE</string>
                        <string>VAC PRESS</string>
                        <string>VENEER</string>
                        <string>VINYL</string>
                        <string>VINYL WRAP</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Customers" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>JCPENNEY - 220</string>
                        <string>KMART - 239</string>
                        <string>KOHLS - 201</string>
                        <string>MACY'S  - 495</string>
                        <string>SEARS - 210</string>
                        <string>STERLING-491</string>
                        <string>TARGET - 274</string>
                        <string>WALGREENS - 510</string>
                        <string>WALMART - 505</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Dev" serializeAs="String">
                <value>kcjuntunen@amstore.com</value>
            </setting>
            <setting name="SubjectLine" serializeAs="String">
                <value>Error in property wizard</value>
            </setting>
            <setting name="NetPath" serializeAs="String">
                <value>\\AMSTORE-SVR-22</value>
            </setting>
            <setting name="DefaultState" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MasterTableHash" serializeAs="String">
                <value>C6-2E-80-9C-3B-A4-97-7C-2A-98-B9-D6-48-9A-BF-A1</value>
            </setting>
        </Redbrick_Addin.Properties.Settings>
    </applicationSettings>
</configuration>